#goles {
    @include sprayBlue;
    background-position: center 70%;
}

.golesImg {
    img {
        margin: 0;
    }

    &:nth-child(2), &:nth-child(3) {
        @include absolute;
        content-visibility: auto;
    }
}

.golesContentSliderContainer {
    position: relative;
    padding: 15px 40px 0px;
    z-index: 1;
    margin-top: -50px;

    @include media-breakpoint-up(md) {
        margin-top: -120px;
    }

    .golesSliderNav {
        position: relative;
        right: -10px;
        bottom: 10px;

        .swiper-button-next {
            right: -20px;
        }

        .swiper-button-prev {
            left: -45px;
        }

        .swiper-pagination {
            display: none;
        }

        @include media-breakpoint-up(md) {
            bottom: 20px;

            .swiper-pagination {
                display: block;
                position: absolute;
                top: -30px;
                left: calc(50% + 20px);
                transform: translate(-50%, -100%);
            }

            .swiper-button-next, .swiper-button-prev {
                margin-bottom: -20px;
                margin-top: 20px;
            }
        }
    }

    &::before, &::after {
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
    }

    &::before {
        content: '';
        left: -3px;
        right: 0;
        top: 0;
        height: 63px;
        transform: translate(0, -100%);
        background-image: url(../../img/golesContentTop.svg);
        background-position: bottom left;
    }

    &::after {
        content: '';
        bottom: 40px;
        left: -3px;
        height: 125px;
        right: -10px;
        transform: translate(0, 100%);
        background-image:  url('../../img/golesContentBottom.svg');
    }
}

.slideContent {
    h3, h2 {
        @include headlineLine;
    }
}

// #golesImgSlider, #golesContentSlider {
//     .swiper-button-next,
//     .swiper-button-prev,
//     .swiper-pagination {
//         display: none;
//         pointer-events: none;
//     }
// }
