#insta {
    padding-top: 60px;
    @include sprayBlue;
    background-position: center 30%;

    h2 {
        margin: 0;
    }

    .instaFeed {
        position: relative;
        z-index: 0;
        display: flex;

        .instaContainer {
            margin-right: 20px;

            a {
                display: block;
                transition: transform .2s cubic-bezier(.63,.49,0,2.1);
            }

            &:hover {
                a {
                    transform: scale(1.05,1.05);
                }
            }
        }

        .instaContent, .BorlabsCookie {
            width: 120px;
            height: 120px;
            @include cover;
        }

        &::after {
            content: '';
            position: absolute;
            right: 0;
            top: -20%;
            bottom: -20%;
            z-index: -1;
            width: 100%;
            transform: translate(30%, 0);
            background-image: url('../../img/instaBg.svg');
            background-size: 100% 100%;
        }
    }

    @include media-breakpoint-up(md) {
        padding-top: 130px;

        .instaFeed {
            .instaContent, .BorlabsCookie {
                width: 266px;
                height: 266px;
            }

            &::after {
                top: -50%;
                bottom: -50%;
                transform: translate(50%, 0);
            }
        }
    }
}





