.faqBlock {
    .faqHeadline {
        @include headlineLineBlue;
    }

    .faqsContainer {
        margin: 40px 0 0;
        padding: 0;

        & > li {
            position: relative;
            list-style: none;
            margin: 20px 0 20px 40px;
            background-image: url('../../img/contentBg.svg');
            background-size: 100% 100%;
            background-repeat: no-repeat;
            padding: 0 0 0 30px;

            &::after {
                content: '';
                position: absolute;
                top: 30px;
                right: 40px;
                width: 20px;
                height: 25px;
                background-image: url(../../img/swiperRightBlue.svg);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                transform: rotate(90deg);
                transition: transform .45s cubic-bezier(.32, .27, .15, 1.24);
                pointer-events: none;
            }

            &.active {
                &::after {
                    transform: rotate(270deg);
                }

                .question {
                    padding-bottom: 0;
                }
            }
        }
    }

    .question {
        position: relative;
        width: 100%;
        padding: 30px 70px 30px 0;
        cursor: pointer;
        transition: padding .45s cubic-bezier(.32, .27, .15, 1.24);

        p {
            @include bold;
            margin: 0;
        }

        span {
            display: block;
            position: absolute;
            left: -20px;
            top: -10px;
            transform: translate(-100%, 0);

            @include headline;
            font-size: 1.6em;
            color: $white;
            background-image: url(../../img/faqNumber.svg);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            margin: 0;
            padding: 15px 20px;
            min-width: 90px;
            text-align: right;
        }
    }

    .answer {
        padding-top: 30px;
        padding-right: 40px;
        padding-bottom: 30px;

        p {
            font-size: .8135em;
        }

        .btn {
            font-size: 1.1865em;
        }
    }
}

@include media-breakpoint-up(md) {
    .faqBlock {
        .question span {
            font-size: 3.75em;
        }

        .faqsContainer {
            margin-top: 0;

            & > li {
                margin: 40px 0 40px 90px;
            }
        }
    }
}
