#footerNewsletter {
    position: relative;
    z-index: 0;

    h4 {
        @include headlineLine;
    }

    .footerNewsletterLeft {
        h4 {
            &::after {
                content: url(../../img/headlineLineBlue.svg);
            }
        }
    }

    svg {
        position: absolute;
        left: -20px;
        right: -20px;
        top: calc(50% - 15px);
        bottom: -55px;
        width: calc(100% + 40px);
        height: calc(50% + 65px);
        z-index: -1;

        @include media-breakpoint-up(sm) {
            left: 25px;
            right: 25px;
            width: calc(100% - 50px);
        }

        @include media-breakpoint-up(md) {
            left: 50%;
            right: 0;
            bottom: -60px;
            top: -60px;
            width: 100%;
            height: calc(100% + 120px);
            z-index: -1;
        }
    }

    .footerNewsletterRight {
        h2, h3, h4, h5, h6, p {
            color: $white;
        }
    }
}
